pandas~=1.0.3
scipy~=1.2.1
isochrones~=2.0.1
numba~=0.49.1
astropy~=4.0
termcolor~=1.1.0
astroquery~=0.4.dev0
regions~=0.4
tqdm~=4.46.0
pyphot~=1.0
matplotlib~=2.1.2
extinction~=0.4.5
PyAstronomy~=0.13.0
corner
dynesty
dustmaps~=1.0.4
pymultinest

numpy~=1.17.5
setuptools~=46.4.0
tabulate~=0.8.3